@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.nav_items > a {
  font-size: 26px;
  color: black;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  border: 0;
}

select:focus,
button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: none;
}

/*RESET CLOSE*/
.flex_row_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.margin_10 {
  margin: 0 5% 0 5%;
}

header .active_nav {
  background-color: #b2e5fc;
}
header #header_top {
  height: 250px;
}
header #header_top #header_logo {
  height: 100%;
  align-items: center;
}
header #header_bottom ul#navbar > li {
  list-style: none;
  margin-right: 15px;
}
header #header_bottom ul#navbar > li a {
  height: 100%;
  display: block;
  padding: 22px 10px 22px 10px;
  text-decoration: none;
  font-weight: 600;
}

main #container_products {
  padding-top: 30px;
  background: url("/img/bg_products.jpg");
  max-height: 1746px;
  min-height: 500px;
}
main #container_products h2.titolo_card {
  color: #002d73;
  margin: 30px;
  font-weight: 600;
}
main #container_products #container_pasta {
  flex-wrap: wrap;
}
main #container_products #container_pasta .card_pasta {
  margin-right: 10px;
  margin-bottom: 10px;
  width: calc( 100% / 3 - 30px );
  min-width: 384px;
}
main #container_products #container_pasta .card_pasta .wrapper_card {
  position: relative;
  width: 380px;
}
main #container_products #container_pasta .card_pasta .wrapper_card:hover .blanket {
  display: block;
}
main #container_products #container_pasta .card_pasta .wrapper_card .blanket {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: rgba(134, 191, 208, 0.8);
}
main #container_products #container_pasta .card_pasta .wrapper_card .blanket h2 {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #container_products #container_pasta .card_pasta img {
  width: 380px;
}

footer {
  color: #848d9b;
  background-image: url("/img/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  max-height: 800px;
  padding-bottom: 100px;
}
footer ul.items_footer {
  list-style: none;
}
footer ul.items_footer a {
  text-decoration: none;
  color: #848d9b;
}
footer .flex_row {
  justify-content: flex-start;
}
footer .col_items_footer {
  width: calc(100%/3);
}
footer .col_items_footer ul.items_footer {
  margin-top: 30px;
}
footer .col_items_footer ul.items_footer > li > h4 {
  margin-bottom: 14px;
  font-size: 20px;
}
footer .col_items_footer ul.items_footer > li > a {
  display: block;
  margin-bottom: 8px;
}
